@page
@model CRM.Pages.Pipelines.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pipeline</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pipeline.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pipeline.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pipeline.ExpectedRevenue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pipeline.ExpectedRevenue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pipeline.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pipeline.Contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pipeline.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pipeline.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pipeline.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pipeline.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pipeline.Salesperson)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pipeline.Salesperson)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pipeline.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pipeline.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pipeline.LogNote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pipeline.LogNote)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pipeline.TaskName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pipeline.TaskName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pipeline.TaskDeadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pipeline.TaskDeadline)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Pipeline.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
